<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img height="220" src="https://lexlatin.com/portal/sites/default/files/Atento.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img height="220" src="https://www.infochannel.info/sites/default/files/2018/10/23/atento_servicios_digitales_app.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img height="220" src="https://pbs.twimg.com/media/DMC7VDGWAAASc7d.jpg" alt="Third slide">
    </div>
  </div>
</div>

<br>

<div>
  <p align="center" >
    <font size="4" color="#FDFEFE">
      Somos líderes en América Latina, atendiendo a las empresas más grandes de su sector tales como: Telecomunicaciones, Banca / Servicios Financieros, Salud, Retail, Gubernamental y Servicios Born-digitales entre otros. Acumulamos 10,000 horas de experiencia de servicio al cliente en canales humanos y digitales, cada 10 minutos.  </font>
  </p>
  
</div>
<br>
<footer>
<div align="center">
  <button [routerLink]="['/historia']" type="button" class="btn btn-success btn-circle btn-xl">
  Historia</button>
  <button [routerLink]="['/noticias']" type="button"  class="btn btn-info btn-circle btn-xl">
    Noticias
  </button>
  <button [routerLink]="['/gestiones']" type="button" class="btn btn-warning btn-circle btn-xl">
  Servicios
  </button>
  <button [routerLink]="['/beneficios']" type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-heart"></i>
  Beneficios
  </button>
  </div>
  
  </footer>



     