<div>
    <p align="center">
        <font size="4" color="#FDFEFE">
            <font size="5" color="#FFFF00"> Servicios<br></font>
            ¡¡¡PROXIMAMENTE ESTAREMOS HABILITANDO ESTE MODULO!!!
        </font>
    </p>
<br>
<br>
<br>
<br>
</div>

<div style="text-align:center;">
    <img width="300" height="100" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122557734_3555147107880975_6727751729795890632_n.jpg?_nc_cat=108&ccb=2&_nc_sid=730e14&_nc_ohc=wyze6EqHGHAAX-H91wB&_nc_ht=scontent.fgua9-1.fna&oh=299b35153a05c962aaa6a13cc1968ae2&oe=5FB94FEA" alt="First slide">
  </div>
  <br>
<div align="center">
  <button [routerLink]="['/inicio']"class="btn btn-primary" type="submit">Volver a Inicio</button>
</div>