<div class="container">
<div class="row">
<div class="col-12">
<h4 style="color:#e5ff00;" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noticias&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button [routerLink]="['/inicio']"class="btn btn-success" type="submit">Inicio</button></h4>

</div>
</div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="text-align:center;">
        <img width="380" height="350" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122400057_3555154037880282_6203151539678144609_n.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=2JcBjVC3jwgAX9sIfeW&_nc_ht=scontent.fgua9-1.fna&oh=db24732252b1160563decfc976979ab4&oe=5FBB5FED" alt="First slide">
      </div>
      <div class="carousel-item" style="text-align:center;">
        <img width="380" height="350" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122345844_3555154071213612_4110505348518047995_n.jpg?_nc_cat=111&ccb=2&_nc_sid=730e14&_nc_ohc=EhNwJNc7M98AX8ttEN8&_nc_ht=scontent.fgua9-1.fna&oh=43266ebc55e3ed241ae38832326f561b&oe=5FB9E025" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img width="380" height="350" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122411442_3555154091213610_8927068312440498430_n.jpg?_nc_cat=107&ccb=2&_nc_sid=730e14&_nc_ohc=vbWfUZziIKsAX-940Oy&_nc_ht=scontent.fgua9-1.fna&oh=17f07a1be1e6cc5b6cc1aa489c39a681&oe=5FB9A900" alt="Third slide">
      </div>
    </div>
  </div>
  <div style="text-align:center;">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/h9GCOiAdBKQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br>
  <div style="text-align:center;">
    <img width="350" height="300" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122676830_3555153937880292_3108999214988296368_n.jpg?_nc_cat=104&ccb=2&_nc_sid=730e14&_nc_ohc=AR4f9eHH1IoAX-seH1H&_nc_ht=scontent.fgua9-1.fna&oh=6e75d22713c13c8939cecc573c01dba1&oe=5FBB9886">
    <h5></h5>
  </div>
  <div style="text-align:center;">
    <img width="350" height="300"src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122298577_3555153967880289_1918935867667088472_n.jpg?_nc_cat=100&ccb=2&_nc_sid=730e14&_nc_ohc=ZQxJzY3q2T0AX89id-Q&_nc_ht=scontent.fgua9-1.fna&oh=dadfd45ed688839bd2a7fcf1f2b45d44&oe=5FBB9FB1">
    
  </div>
  
  
  
