
  <!--  <Particles id="tsparticles" [options]="particlesOptions" ></Particles>-->



<!DOCTYPE html><html lang='en' class='' >
<head>

</head><body>
<div class="login">
	<h1>AtentoTribe</h1>
    <form method="post">
    	<input [(ngModel)]="usuario.codigoUsuario" type="text" name="codigoUsuario" placeholder="Codigo Empleado" required="required" />
        <input [(ngModel)] = "usuario.clave" type="password" name="clave" placeholder="Contraseña" required="required" />
        <button (click)="login()" type="submit" class="btn btn-primary btn-block btn-large">Iniciar Sesión</button>
    <br>
    <a style="color:gold" (click)="registro()">Registrarme</a>
      </form>
      
</div>

</body>
</html> 

