<div class="row">
    <div class="col-12">
        <h6 style="color:#e5ff00;" align="center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿Quienes
            Somos?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                [routerLink]="['/inicio']" class="btn btn-primary" type="submit">Inicio</button></h6>

    </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="text-align:center;">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122265237_3555153401213679_4798372815570927437_o.jpg?_nc_cat=100&ccb=2&_nc_sid=730e14&_nc_ohc=MADzlT8RUW4AX-8s97E&_nc_ht=scontent.fgua9-1.fna&oh=5b7a0ce2d131864d02b8257f5273ab82&oe=5FBB3862" alt="First slide">
        </div>
        <div class="carousel-item" style="text-align:center;">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122513961_3555153361213683_1172890125380774497_o.jpg?_nc_cat=103&ccb=2&_nc_sid=730e14&_nc_ohc=toME07pgF_IAX8MSwIw&_nc_ht=scontent.fgua9-1.fna&oh=b174c48c6c455c2466ee7b25875a84ea&oe=5FBB49F2" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122717411_3555153437880342_8309737652616118862_o.jpg?_nc_cat=101&ccb=2&_nc_sid=730e14&_nc_ohc=kCHd7An2goEAX8JZQeW&_nc_ht=scontent.fgua9-1.fna&oh=182722352e991b201303b2de52a2e705&oe=5FBAF88C" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122147727_3555153674546985_7813094113145536874_o.jpg?_nc_cat=105&ccb=2&_nc_sid=730e14&_nc_ohc=cwLTTa-wvjwAX_zfKif&_nc_ht=scontent.fgua9-1.fna&oh=e0d9ef7354c06abde224843a74933ebc&oe=5FBA7EE0" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122334454_3555153711213648_7785220184611498556_o.jpg?_nc_cat=110&ccb=2&_nc_sid=730e14&_nc_ohc=IyW-bvhPCtkAX_Lasvo&_nc_ht=scontent.fgua9-1.fna&oh=af54f7c7f9c9d9f8d65174b6e9154233&oe=5FBB9EDF" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122570955_3555153737880312_7433510655249404368_o.jpg?_nc_cat=101&ccb=2&_nc_sid=730e14&_nc_ohc=sKFapSZncrgAX8ip7wh&_nc_ht=scontent.fgua9-1.fna&oh=96a07258d45713473754ced1d9a3cb83&oe=5FBB023E" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img width="380" height="250" src="https://scontent.fgua9-1.fna.fbcdn.net/v/t1.0-9/122777044_3555153921213627_6140666505396796906_o.jpg?_nc_cat=104&ccb=2&_nc_sid=730e14&_nc_ohc=N1qiJPhHlFkAX__6jZz&_nc_ht=scontent.fgua9-1.fna&oh=bd92cbe725b04f6eabb807707bd516c1&oe=5FBBEAA5" alt="Third slide">
        </div>
    </div>
</div>
<br>
<div>
    <p align="center">
        <font size="4" color="#FDFEFE">
            <font size="4" color="#FFFF00"> Historia<br></font>
            En Guatemala, iniciamos operaciones en 2000 y nos convertimos en pioneros en la industria de CX. Servimos a
            varios clientes, de los sectores más diversos de la economía: telecomunicaciones, servicios financieros,
            salud, comercio minorista, administración pública, entre otros.
        </font>
    </p>

</div>
<div>
    <p align="center">
        <font size="4" color="#FDFEFE">
            <font size="4" color="#FFFF00"> Misión<br></font>
            Contribuir al éxito de las empresas garantizando la mejor experiencia para sus consumidores finales.
        </font>
    </p>

</div>
<div>
    <p align="center">
        <font size="4" color="#FDFEFE">
            <font size="4" color="#FFFF00"> Visión<br></font>
            Convertirnos en el proveedor líder de soluciones de servicio al cliente para los clientes de nuestros
            mercados.
        </font>
    </p>

</div>